:root{
    --gray-text: rgba(0, 0, 0, 0.7);
}

.main-content-div{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100vh;
}

.left-content-div{
    flex: 3;
    background-color: #f2f3f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--gray-text);
    font-size: 0.8em;
    position: sticky;
    top: 0;
}

.profile-image{
    background-image: url("./assets/picture1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    width: 45%;
    border-radius: 50%;
    margin-top: 3em;
}

.nav-links-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-top: 2em;
    letter-spacing: 2px;
}

.nav-links{
    text-decoration: none;
    color: var(--gray-text);
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    width: fit-content;
}

.nav-links::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #2c98f0;
    transform: scaleX(0);
    transition: transform 300ms ease;
}

.nav-links:hover::before{
    transform: scaleX(1);
}

.right-content-div{
    flex: 7;
    overflow-y: scroll;
}

.right-content-header{
    background-image: url(./assets/picture2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    aspect-ratio: 1 / 1;
    margin-bottom: 4em;
}

.right-content-button{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1em;
    letter-spacing: 2px;
    border: 1px solid var(--gray-text);
}

.right-content-button:hover{
    cursor: pointer;
}

.expertise-div{
    display: flex;
    margin-top: 2em;
    gap: 2em;
}

.expertise{
    flex: 1;
    box-shadow: 0px 0px 20px 10px rgb(225, 225, 225);
    padding: 1em;
}

.parallax{
    background-image: url('./assets/background1.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 4em;
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accordion{
    width: 100%;
    background-color: rgb(127, 154, 249);
    border: none;
    cursor: pointer;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    margin-right: 2em;
    transition: 200ms;
    font-size: 1em;
}

.accordion:hover{
    background-color: rgb(83, 116, 239);
}

.accordion-panel{
    max-height: 0;
    overflow: hidden;
    transition: 100ms ease-out;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.timeline::after{
    content: "";
    position: absolute;
    width: 4px;
    background-color: rgb(190, 190, 190);
    top: 0;
    bottom: 0;
    left: 20px;
}

.timeline-container{
    padding: 10px;
    position: relative;
    background-color: rgb(199, 199, 199);
    width: 70%;
    left: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.timeline-container::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: -70px;
    background-color: rgb(255, 19, 19);
    border: 4px solid rgb(190, 190, 190);
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.left-arrow::before{
    content: "";
    border: 15px solid rgb(199, 199, 199);
    z-index: 1;
    left: -4px;
    top: 7px;
    position: absolute;
    transform: rotate(45deg);
}

.timeline-content{
    padding: 10px;
}

@media screen and (max-width: 1200px) {
    .main-content-div{
        width: 100%;
    }
}